.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19),
    0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
    border-radius: 25px;
}
.card {
    padding: 1.5em;
    text-align: center;
    width: 100%;
}
.card--img {
    margin: 0 auto;
    display: block
}
.card-details {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.5em;
    width: calc(100% - (1.5em * 2));
    height: calc(100% - (1.5em * 2));
    background: white;
    overflow: scroll;
    cursor: pointer;
    opacity: 0;
    transition: opacity .8s ease;
    border-radius: 25px;
}
.card-details:hover {
    opacity: 0.92;
}