/* form styles */

.search-form {
    display: flex;
    flex-flow: column wrap;
    padding: 3em;
}

.movie-label {
    font-size: 1.2rem;
    margin-bottom: 0.5em;
}

.searchbar {
    padding: 1rem 2rem;
    border: 1px solid rgba(0,0,0,0.75);
    border-radius: 20px;
    font-size: 1rem;
    margin-bottom: 1.25em;
}

.searchbar:focus,
.btn-search:focus,
.btn-show-more:focus {
    outline: transparent;
    box-shadow: 0 0 3pt 2pt #61dafb;
}

.btn-search {
    background: #282c34;
    color: white;
    padding: 1em 2em;
    border: 1px solid rgba(0,0,0,0.75);
    border-radius: 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 250ms;
}

.btn-search:hover {
    background-color: rgba(0,0,0,0.75);
}

/* card styles */

.cards-container {
    padding: 1em 2em;
}

.movie-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
}

/* show more */

.btn-show-more {
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-top: 2em;
    padding: 1em 2em;
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,0.25);
    font-size: 1em;
}

/* media queries */

@media (min-width: 1000px) {
    .search-form {
        flex-direction: row;
        justify-content: center;
    }
    .movie-label {
        margin-bottom: 0;
        padding: 1em 1em;
    }
    .searchbar {
        margin: 0 1em 0 0;
    }
    .btn-search {
        display: inline-block;
        padding: 0 2em;
    }
    .btn-show-more {
        width: 40%;
    }
}